{
    "openapi": "3.0.0",
    "info": {
        "title": "Domakin API",
        "description": "API documentation for Domakin platform - Version 1",
        "contact": {
            "email": "support@domakin.nl"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://orange.domakin.nl",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/user/edit-details": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Update user profile",
                "operationId": "dbdc418bbfcf7741f03ce41643ee067e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "firstName": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "lastName": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+31 6 12345678"
                                    },
                                    "password": {
                                        "description": "New password (optional)",
                                        "type": "string"
                                    },
                                    "profileImage": {
                                        "description": "Profile image (optional)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please fill/fix the required fields!"
                                        },
                                        "invalid_fields": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "email",
                                                "phone"
                                            ]
                                        },
                                        "tag": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "account:authentication.errors.email",
                                                "account:authentication.errors.phone_invalid"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error message"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "account:authentication.errors.general"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to update profile"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "account:authentication.errors.general"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/career/apply": {
            "post": {
                "tags": [
                    "Career"
                ],
                "summary": "Submit a career application",
                "operationId": "1debb96da114dbef31f9350687bdfea9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "phone",
                                    "position",
                                    "location"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+31 6 12345678"
                                    },
                                    "position": {
                                        "type": "string",
                                        "example": "viewing_agent"
                                    },
                                    "location": {
                                        "type": "string",
                                        "example": "Amsterdam, Netherlands"
                                    },
                                    "experience": {
                                        "description": "Optional",
                                        "type": "string"
                                    },
                                    "message": {
                                        "description": "Optional",
                                        "type": "string"
                                    },
                                    "resume": {
                                        "description": "Optional resume file (PDF/DOC/DOCX)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Application submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please fill/fix the required fields!"
                                        },
                                        "invalid_fields": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "email",
                                                "phone"
                                            ]
                                        },
                                        "tag": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "account:authentication.errors.email",
                                                "account:authentication.errors.phone_invalid"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to upload resume"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "account:authentication.errors.general"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/feedback/list": {
            "get": {
                "tags": [
                    "Feedback"
                ],
                "summary": "List approved feedbacks",
                "operationId": "3bf82d364d671fb16bf4f77b6f80dd2e",
                "parameters": [
                    {
                        "name": "language",
                        "in": "query",
                        "description": "Language code (optional)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/feedback/create": {
            "post": {
                "tags": [
                    "Feedback"
                ],
                "summary": "Create a feedback",
                "operationId": "feffab6ac2469869d5a6af9aea395327",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "content",
                                    "language"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "Great service!"
                                    },
                                    "language": {
                                        "type": "string",
                                        "example": "en"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Feedback created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please fill/fix the required fields!"
                                        },
                                        "invalid_fields": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "content",
                                                "language"
                                            ]
                                        },
                                        "tag": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "account:authentication.errors.required_fields"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error message"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "account:authentication.errors.general"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/blog/posts": {
            "get": {
                "tags": [
                    "Blog"
                ],
                "summary": "Get all blog posts",
                "operationId": "bdfb2e758bb6d7682b3fae922790e0b3",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to load posts"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "account:authentication.errors.general"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/blog/post/{id}": {
            "get": {
                "tags": [
                    "Blog"
                ],
                "summary": "Get blog post by ID",
                "operationId": "124e0f7cb0eaefd7682a0082b2789bf3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Post ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/blog/post-by-slug/{slug}": {
            "get": {
                "tags": [
                    "Blog"
                ],
                "summary": "Get blog post by slug",
                "operationId": "22356718a7e12b3b826e6a672b0fc3fb",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Post slug",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "my-blog-post"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/common/newsletter/subscribe": {
            "post": {
                "tags": [
                    "Newsletter"
                ],
                "summary": "Subscribe to newsletter",
                "operationId": "6e08d761954c42d0cefe1b581aac365c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Subscribed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stawwwtus": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please fill/fix the required fields!"
                                        },
                                        "invalid_fields": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "email"
                                            ]
                                        },
                                        "tag": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "account:authentication.errors.email"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error message"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "account:authentication.errors.general"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/common/newsletter/unsubscribe": {
            "delete": {
                "tags": [
                    "Newsletter"
                ],
                "summary": "Unsubscribe from newsletter",
                "operationId": "c35e051420533f4e3602c4d89b04affd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "id"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Unsubscribed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please fill/fix the required fields!"
                                        },
                                        "invalid_fields": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "tag": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "No mail found!"
                                        },
                                        "tag": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/property/list": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "Get user's properties",
                "operationId": "d7f1aabd33143e28f2c8b7b9a0e37ea1",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/property/list-extended": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "Get all properties (Admin only)",
                "operationId": "15cfcefe2ee8aa784c28ae438962535a",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/property/listing": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "List all active properties",
                "description": "Returns a list of all publicly visible properties. Only properties with a past release_timestamp and status Pending (1), Rent (2), or Taken (3) are included. Titles and descriptions are translated according to the Accept-Language header.",
                "operationId": "b71a68f063826695dce200168ab7c75c",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "Preferred language for titles and descriptions (e.g. en, nl). Defaults to 'en' if omitted.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "en"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "description": "List of properties formatted for public listing",
                                            "type": "array",
                                            "items": {
                                                "required": [
                                                    "id",
                                                    "status",
                                                    "statusCode",
                                                    "slug",
                                                    "price",
                                                    "title",
                                                    "city",
                                                    "location",
                                                    "description",
                                                    "main_image",
                                                    "images",
                                                    "link"
                                                ],
                                                "properties": {
                                                    "id": {
                                                        "description": "Listing ID (internal property id + 1000)",
                                                        "type": "integer",
                                                        "example": 1023
                                                    },
                                                    "status": {
                                                        "description": "Human-readable status",
                                                        "type": "string",
                                                        "enum": [
                                                            "pending",
                                                            "rent",
                                                            "taken"
                                                        ],
                                                        "example": "rent"
                                                    },
                                                    "statusCode": {
                                                        "description": "Numeric status (1=Pending, 2=Rent, 3=Taken)",
                                                        "type": "integer",
                                                        "enum": [
                                                            1,
                                                            2,
                                                            3
                                                        ],
                                                        "example": 2
                                                    },
                                                    "slug": {
                                                        "description": "URL-friendly identifier",
                                                        "type": "string",
                                                        "example": "cozy-room-amsterdam-centrum"
                                                    },
                                                    "price": {
                                                        "description": "Rent amount",
                                                        "type": "string",
                                                        "example": "850"
                                                    },
                                                    "title": {
                                                        "description": "Translated listing title",
                                                        "type": "string",
                                                        "example": "Cozy room in Amsterdam Centrum"
                                                    },
                                                    "city": {
                                                        "description": "City name",
                                                        "type": "string",
                                                        "example": "Amsterdam"
                                                    },
                                                    "location": {
                                                        "description": "Street and city",
                                                        "type": "string",
                                                        "example": "Herengracht 123, Amsterdam"
                                                    },
                                                    "description": {
                                                        "description": "Translated description blocks",
                                                        "properties": {
                                                            "property": {
                                                                "type": "string",
                                                                "example": "Spacious room with canal view, 15m². Shared kitchen and bathroom."
                                                            },
                                                            "period": {
                                                                "type": "string",
                                                                "example": "From 1 March 2025, minimum 6 months"
                                                            },
                                                            "bills": {
                                                                "type": "string",
                                                                "example": "Included: gas, water, electricity, internet"
                                                            },
                                                            "flatmates": {
                                                                "type": "string",
                                                                "example": "2 flatmates, international household"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "main_image": {
                                                        "description": "URL of the primary image",
                                                        "type": "string",
                                                        "example": "https://res.cloudinary.com/example/image/upload/v123/room1.jpg",
                                                        "nullable": true
                                                    },
                                                    "images": {
                                                        "description": "Additional image URLs",
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "example": [
                                                            "https://res.cloudinary.com/example/image/upload/v123/room2.jpg",
                                                            "https://res.cloudinary.com/example/image/upload/v123/room3.jpg"
                                                        ]
                                                    },
                                                    "link": {
                                                        "description": "Public property page path (locale-prefixed when not en). Use with app base URL.",
                                                        "type": "string",
                                                        "example": "https://www.domakin.nl/en/services/renting/property/1023-cozy-room-amsterdam-centrum"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "status": true,
                                    "data": [
                                        {
                                            "id": 1023,
                                            "status": "rent",
                                            "statusCode": 2,
                                            "slug": "cozy-room-amsterdam-centrum",
                                            "price": "850",
                                            "title": "Cozy room in Amsterdam Centrum",
                                            "city": "Amsterdam",
                                            "location": "Herengracht 123, Amsterdam",
                                            "description": {
                                                "property": "Spacious room with canal view, 15m². Shared kitchen and bathroom.",
                                                "period": "From 1 March 2025, minimum 6 months",
                                                "bills": "Included: gas, water, electricity, internet",
                                                "flatmates": "2 flatmates, international household"
                                            },
                                            "main_image": "https://res.cloudinary.com/example/image/upload/v123/room1.jpg",
                                            "images": [
                                                "https://res.cloudinary.com/example/image/upload/v123/room2.jpg",
                                                "https://res.cloudinary.com/example/image/upload/v123/room3.jpg"
                                            ],
                                            "link": "https://www.domakin.nl/en/services/renting/property/1023-cozy-room-amsterdam-centrum"
                                        },
                                        {
                                            "id": 1024,
                                            "status": "pending",
                                            "statusCode": 1,
                                            "slug": "bright-studio-jordaan",
                                            "price": "1200",
                                            "title": "Bright studio in the Jordaan",
                                            "city": "Amsterdam",
                                            "location": "Egelantiersgracht 45, Amsterdam",
                                            "description": {
                                                "property": "Furnished studio, 25m². Private kitchen and bathroom.",
                                                "period": "Available from 15 April 2025",
                                                "bills": "Excl. utilities, approx. €80/month",
                                                "flatmates": "No flatmates, self-contained"
                                            },
                                            "main_image": "https://res.cloudinary.com/example/image/upload/v123/studio1.jpg",
                                            "images": [],
                                            "link": "https://www.domakin.nl/bg/services/renting/property/bright-studio-jordaan"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/property/details/{id}": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "Get property details",
                "operationId": "d8a9afc00841084140c8ed342f13f9c3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Property ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/property/create": {
            "post": {
                "tags": [
                    "Properties"
                ],
                "summary": "Create a new property",
                "operationId": "5289165385eb5284069ba8aad6416f62",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "personalData": {
                                        "description": "JSON string of personal data",
                                        "type": "string"
                                    },
                                    "propertyData": {
                                        "description": "JSON string of property data",
                                        "type": "string"
                                    },
                                    "referralCode": {
                                        "type": "string"
                                    },
                                    "interface": {
                                        "description": "Interface source",
                                        "type": "string",
                                        "enum": [
                                            "web",
                                            "mobile",
                                            "signal"
                                        ],
                                        "example": "web"
                                    },
                                    "images": {
                                        "description": "Property images",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Property created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please fill/fix the required fields!"
                                        },
                                        "invalid_fields": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "personalData.email",
                                                "propertyData.city"
                                            ]
                                        },
                                        "tag": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "account:authentication.errors.email",
                                                "account:authentication.errors.required_fields"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error message"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "account:authentication.errors.general"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/property/edit": {
            "post": {
                "tags": [
                    "Properties"
                ],
                "summary": "Edit a property (Admin only)",
                "operationId": "34bcfd34f6c165d3648e130532462a57",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "id",
                                    "propertyData"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "propertyData": {
                                        "description": "JSON string of property data",
                                        "type": "string"
                                    },
                                    "referralCode": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "approved": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "releaseTimestamp": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "images": {
                                        "description": "Comma-separated image URLs",
                                        "type": "string"
                                    },
                                    "newImages": {
                                        "description": "New images to upload",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Property updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Property not found"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "account:authentication.errors.general"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please fill/fix the required fields!"
                                        },
                                        "invalid_fields": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "tag": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/property/delete": {
            "delete": {
                "tags": [
                    "Properties"
                ],
                "summary": "Delete a property",
                "operationId": "a8f089ac202fd6f6fdfd2de7b731558d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Property ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Property deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/property/signal-test": {
            "get": {
                "tags": [
                    "Properties"
                ],
                "summary": "Test Signal integration with the latest property",
                "operationId": "45d85ab492a7c9d9986fafe4f7df94e8",
                "responses": {
                    "200": {
                        "description": "Signal integration test completed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Property not found"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "property_not_found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/property/payment/create-link": {
            "post": {
                "tags": [
                    "Properties"
                ],
                "summary": "Create payment link for a property (Admin only)",
                "operationId": "c4109e350c4511b151dfa4ce6ca793df",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "description": "Property ID",
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "name": {
                                        "description": "Optional name for payment link",
                                        "type": "string",
                                        "example": "John Doe"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment link created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "payment_link": {
                                                    "type": "string",
                                                    "example": "https://checkout.stripe.com/..."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Property not found"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "account:authentication.errors.general"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/authentication/validate-credentials": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Validate user credentials before registration",
                "operationId": "c7989a7fd4c17a29f2face2e6e966173",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Credentials are valid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please fill/fix the required fields!"
                                        },
                                        "invalid_fields": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "tag": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/authentication/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a new user",
                "operationId": "0dc6daa8d3a031c1989e81553a64c8e8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password",
                                    "firstName",
                                    "lastName"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "user@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "firstName": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "lastName": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+31 6 12345678"
                                    },
                                    "isSSO": {
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "User registered successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please fill/fix the required fields!"
                                        },
                                        "invalid_fields": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "email",
                                                "password"
                                            ]
                                        },
                                        "tag": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "account:authentication.errors.email",
                                                "account:authentication.errors.password"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error message"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "account:authentication.errors.general"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/renting/create": {
            "post": {
                "tags": [
                    "Renting"
                ],
                "summary": "Submit a renting application",
                "operationId": "5e407962480e594a8795d5eddb5ad3e2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "property",
                                    "name",
                                    "surname",
                                    "phone",
                                    "email",
                                    "letter",
                                    "interface"
                                ],
                                "properties": {
                                    "property": {
                                        "description": "Property ID",
                                        "type": "string",
                                        "example": "123"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "John"
                                    },
                                    "surname": {
                                        "type": "string",
                                        "example": "Doe"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "+31 6 12345678"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "letter": {
                                        "description": "Motivational letter (PDF/DOC/DOCX)",
                                        "type": "file"
                                    },
                                    "note": {
                                        "type": "string",
                                        "example": "Additional notes about the application"
                                    },
                                    "referralCode": {
                                        "type": "string",
                                        "example": "REF123"
                                    },
                                    "interface": {
                                        "description": "Interface source",
                                        "type": "string",
                                        "enum": [
                                            "web",
                                            "mobile",
                                            "signal"
                                        ],
                                        "example": "signal"
                                    }
                                },
                                "type": "object"
                            },
                            "examples": {
                                "signal_interface": {
                                    "summary": "Signal Interface Example",
                                    "value": {
                                        "property": "123",
                                        "name": "John",
                                        "surname": "Doe",
                                        "phone": "+31 6 12345678",
                                        "email": "john@example.com",
                                        "letter": "<file>",
                                        "note": "Additional notes about the application",
                                        "referralCode": "REF123",
                                        "interface": "signal"
                                    }
                                },
                                "web_interface": {
                                    "summary": "Web Interface Example",
                                    "value": {
                                        "property": "123",
                                        "name": "Jane",
                                        "surname": "Smith",
                                        "phone": "+31 6 98765432",
                                        "email": "jane@example.com",
                                        "letter": "<file>",
                                        "note": "Web application notes",
                                        "referralCode": "WEB123",
                                        "interface": "web"
                                    }
                                },
                                "mobile_interface": {
                                    "summary": "Mobile Interface Example",
                                    "value": {
                                        "property": "123",
                                        "name": "Bob",
                                        "surname": "Johnson",
                                        "phone": "+31 6 55555555",
                                        "email": "bob@example.com",
                                        "letter": "<file>",
                                        "note": "Mobile application notes",
                                        "referralCode": "MOB123",
                                        "interface": "mobile"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Application submitted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                },
                                "example": {
                                    "status": true
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Please fill/fix the required fields!"
                                        },
                                        "invalid_fields": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "email",
                                                "phone"
                                            ]
                                        },
                                        "tag": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            },
                                            "example": [
                                                "account:authentication.errors.email",
                                                "account:authentication.errors.phone_invalid"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error message"
                                        },
                                        "tag": {
                                            "type": "string",
                                            "example": "account:authentication.errors.general"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/renting/{id}": {
            "get": {
                "tags": [
                    "Renting"
                ],
                "summary": "Get all rentings for a property by property_id (admin)",
                "operationId": "fb5ba7b6fa00f824ce0d0afa6bac1d28",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Property ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Property not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
[...]
