name: CI/CD Pipeline for Docker

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: composer install

      - name: Temporarily adjust ESLint config
        run: |
          echo '{
            "rules": {
              "constructor-super": "off"
            }
          }' > .eslintrc.json

  build:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t domakin-api .

      # REPLACE DOCKER IMAGE 

      # DELETE THE LAST VERSION OF THE APP